<div class="ui fluid card">
  <%= link_to collection, class: "image" do %>
    <%= image_tag collection.cover %>
  <% end %>
  <div class="content">
    <%= link_to truncate(collection.name, length: 25),
      collection, class: "header" %>
  </div>
  <div class="content">
    <span class="right floated">
      <span id="collection-<%= collection.id %>-likes-count">
        <%= collection.likes_count %>
      </span>
      <%= t "collection.likes_count" %>
      <span id="collection-<%= collection.id %>-likes-button">
        <%= render "likes/like_button", likeable_item: collection %>
      </span>
    </span>
    <span class="left floated">
      <i class="comment outline big icon"></i>
      <%= collection.views_count %> <%= t "collection.views_count" %>
    </span>
  </div>
</div>
