<div class="ui stackable centered grid">
  <div class="ten wide column">
    <h1><%= @collection.name %></h1>
    <div class="ui small statistics">
      <div class="statistic">
        <div class="value" id="collection-<%= @collection.id %>-likes-count">
          <%= @collection.likes_count %>
        </div>
        <div class="label">
          <%= t "collection.likes_count" %>
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          <%= @collection.views_count %>
        </div>
        <div class="label">
          <%= t "collection.views_count" %>
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          <%= @collection.recipes.count %>
        </div>
        <div class="label">
          <%= t "collection.recipes_count" %>
        </div>
      </div>
    </div>
    <div class="ui stacked segment">
      <h4>"<%= @collection.description %>"</h4>
      <%= link_to @collection.user do  %>
        <%= image_tag @collection.user.avatar,
          class: "ui mini circular image" %>
        <h6><%= @collection.user.name %></h6>
      <% end %>
    </div>
    <div class="ui massive compact red segment">
      <span id="collection-<%= @collection.id %>-likes-button">
        <%= render "likes/like_button", likeable_item: @collection %>
      </span>
    </div>
  </div>
  <div class="six wide column">
    <div class="ui segment">
      <%= image_tag @collection.cover, class: "ui fluid image" %>
    </div>
  </div>
  <div class="row">
    <div class="ui red inverted one item fluid menu">
      <div class="item">
        <h4>
          <%= t "collection.recipes_count" %> (<%= @collection.recipes.count %>)
        </h4>
      </div>
    </div>
  </div>
  <div class="ui four stackable doubling cards">
    <%= render @collection.recipes %>
  </div>
</div>
