<table class="table table-striped">
    <tr>
      <th><%= t("admin.recipes.id") %></th>
      <th><%= t("admin.recipes.recipename") %></th>
      <th><%= t("admin.recipes.author") %></th>
      <th>
        <span><%= t("admin.recipes.status") %></span>
        <%= select_tag ("status"),
          options_for_select(@statuses, @status_filter),
          class: "filter_recipes_status",
          include_blank: true
        %>
      </th>
      <th> <%= t "admin.recipes.delete_recipes" %> </th>
    </tr>
    <% @recipes.each do |recipe| %>
      <tr id="recipe-<%= recipe.id %>">
        <td><%= recipe.id %></td>
        <td><%= link_to recipe.name , recipe  %></td>
        <td><%= recipe.user.name %></td>
        <td>
          <%= select_tag :status,
            options_for_select(@statuses, recipe.status),
            class: "recipe_status", id: recipe.id
          %>
        </td>
        <td>
          <%= link_to admin_recipe_path(recipe.id), method: :delete,
            data: {confirm: t("admin.recipes.delete_confirm")}, remote: true do %>
            <span class="btn btn-danger">
              <p><%= t "admin.recipes.delete" %></p>
            </span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
