<div class="form-group fields">
  <div class="row">
    <div class="col-lg-6">
      <%= f.label t "material.name" %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="col-lg-2">
      <%= f.label t "material.number" %><br>
      <%= f.number_field :number, class: "form-control" %>
    </div>
    <div class="col-lg-3">
      <%= f.label t "material.unit" %><br>
      <%= f.select :unit, options_for_select(Material.material_unit, selected: f.object.unit),{include_blank: t("material.select_unit")}, {class: "form-control"} %>
    </div>
    <div class="col-lg-1">
      <br/>
      <%= link_to_remove_fields t("recipe.remove"), f %>
    </div>
  </div>
</div>
