<%= render layout: "shared/form_repice" do |layout| %>
  <%= form_for @recipe, url: wizard_path, html: {multipart: true} do |f| %>
    <div class="ui horizontal divider">
      <%= f.label t "recipe.category" %>
    </div>
    <p><%= t "category.content" %></p>
    <% @category_groups.each do |cate_group| %>
      <div class="form-group">
        <%= f.label cate_group.name %>
        <%= f.fields_for :categories_recipes,
          add_new_categories_recipes(f.object,
          :categories_recipes, cate_group.id) do |ff| %>
          <%= ff.select :category_id,
            options_for_select(cate_group.categories.map{|c| [c.name, c.id]},
            ff.object.category_id), {}, {class: "form-control"} %>
        <% end %>
      </div>
    <% end %>
    </div>
    <div class="form-actions">
      <div class="pull-right">
        <%= link_to t("recipe.back"), previous_wizard_path,
          class: "btn btn-success" %>
        <%= f.button t("recipe.published"), class: "btn btn-primary",
          name: "commit" %>
        <%= f.button t("recipe.draft"), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
<% end %>
