<%= render layout: "shared/form_repice" do |layout| %>
  <%= form_for @recipe, url: wizard_path, html: {multipart: true} do |f| %>
    <div class="ui horizontal divider">
      <%= f.label t "recipe.materials" %>
    </div>
    <div class="form-group">
      <%= f.fields_for :materials do |material| %>
        <%= render "material_fields", f: material %>
      <% end %>
      <p><%= link_to_add_fields t("recipe.add_materials"), f, :materials %></p>
    </div>
    <div class="form-actions">
      <div class="pull-right">
        <%= link_to t("recipe.back"), edit_recipe_path(@recipe), class: "btn btn-success" %>
        <%= link_to t("recipe.skip"), next_wizard_path, class: "btn btn-warning" %>
        <%= f.button t("recipe.continue"), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
<% end %>
