<div class="ui fluid card">
  <%= image_tag recipe.cover, class: "cover-image" %>
  <div class="content">
    <%= link_to recipe.name, recipe, class: "header" %>
    <div class="meta">
      <div class="ui star large rating"
        data-max-rating="<%= Settings.rating.max_rating %>"
        data-rating="<%= recipe.votes_average %>"></div>
    </div>
  </div>
  <div class="content">
    <span class="right floated">
      <span id="recipe-<%= recipe.id %>-likes-count">
        <%= recipe.likes_count %>
      </span>
      <%= t "recipe.likes_count" %>
      <span id="recipe-<%= recipe.id %>-likes-button">
        <%= render "likes/like_button", likeable_item: recipe %>
      </span>
    </span>
    <span class="left floated">
      <i class="comment outline big icon"></i>
      <%= recipe.views_count %> <%= t "recipe.views_count" %>
    </span>
  </div>
</div>
