<div class="form-group fields">
  <div class="ui horizontal divider">
    <div class="row">
      <%= f.label t "step.number_step", class: "control-label col-sm-2" %>
      <%= f.number_field :order,
        value: f.object.order || Settings.recipe_form.default_step,
        class: "form-control col-sm-10" %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <%= f.label t "step.content" %><br>
      <%= f.text_area :content, class: "form-control" %>
    </div>
    <div class="col-lg-3">
      <%= link_to_remove_fields t("recipe.remove"), f %>
    </div>
  </div>
  <%= f.label :images %>
  <%= f.file_field :images, multiple: true %>
</div>
