<div class="ui stackable grid">
  <div class="seven wide column">
    <div class="ui segment">
      <%= image_tag @recipe.cover, class: "ui big image" %>
    </div>
  </div>
  <div class="nine wide column">
    <% @recipe.list_categories.each do |category| %>
      <div class="ui large basic label">
        <%= category.category_group.name %>
        <span>:</span>
        <%= category.name %>
      </div>
    <% end %>
    <h1><%= @recipe.name %>
      <div class="pull-right">
        <%= link_to t("recipe.edit"),
          edit_recipe_path(@recipe),
          class: "ui primary large basic button" if policy(@recipe).update? %>
        <%= link_to t("recipe.remove"), recipe_path(@recipe),
          method: :delete, data: {confirm: t("confirm")},
          class: "ui negative large basic button" if policy(@recipe).destroy? %>
      </div>
    </h1>
    <%= render "shared/vote_stars", score: @recipe.votes_average %>
    <h5>
      <span id="recipe-<%= @recipe.id %>-likes-count">
        <%= @recipe.likes_count %>
      </span>
      <%= t "recipe.likes_count" %>
      <span> | </span>
      <%= @recipe.views_count %> <%= t "recipe.views_count" %>
    </h5>
    <div class="ui stacked segment">
      <h4>"<%= @recipe.description %>"</h4>
      <%= link_to @recipe.user do %>
        <%= image_tag @recipe.user.avatar, class: "ui mini circular image" %>
        <h6><%= @recipe.user.name %></h6>
      <% end %>
    </div>
    <div class="ui large compact yellow segment">
      <%= render "shared/vote_button", recipe: @recipe %>
      <%= render "shared/add_recipe_to_collection_button", recipe: @recipe %>
      <span id="recipe-<%= @recipe.id %>-likes-button">
        <%= render "likes/like_button", likeable_item: @recipe %>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="ui top attached tabular menu">
      <div class="tab-item tab-button active item" data-tab="tab-1">
        <h4><%= t "recipe.steps" %></h4>
      </div>
      <div class="tab-item tab-button item" data-tab="tab-2">
        <h4><%= t "recipe.comments" %></h4>
      </div>
    </div>
    <div class="ui tab tab-item attached active segment" data-tab="tab-1">
      <div class="row">
        <div class="col-md-4">
          <h4><%= t "recipe.materials" %></h4>
          <div class="ui divider"></div>
          <ul>
            <%= render @recipe.materials %>
          </ul>
        </div>
        <div class="col-md-8">
          <div class="ui raised segment">
            <%= render @recipe.ordered_steps %>
          </div>
        </div>
      </div>
    </div>
    <div class="ui tab tab-item attached segment" data-tab="tab-2">
      <div id="comment-form">
        <%= render "comments/form", comment: @new_comment %>
      </div>
      <div class="ui divider"></div>
      <div class="ui huge comments">
        <%= render @recipe.list_comments %>
      </div>
    </div>
  </div>
</div>
<div id="modal-window" class="modal fade" role="dialog"></div>
