<% if type == Settings.frontend.favorite_recipes %>
  <div class="thumbnail">
    <div class="caption row">
      <div class="col-md-12">
        <%= image_tag "/demo/mon-an.jpg",
          class: "img-responsive recipe-img" %>
        <h3><%= link_to t("demo.name") %>
          <a href="#" class="btn btn-primary pull-right"
            role="button"><%= t "home.guide" %></a></h3>
        <span class="pull-left">
          <% for i in 1..5 %>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <% end %>
        </span>
        <span class="pull-right">
          <span class="glyphicon glyphicon-eye-open"
            aria-hidden="true"></span> <% t "demo.view" %>
        </span>
      </div>
    </div>
  </div>
<% elsif type == Settings.frontend.tip_recipes %>
    <div class="thumbnail">
      <%= image_tag "/demo/meo-vat.jpg",
        class: "img-responsive recipe-img" %>
      <div class="caption">
        <h4><%= link_to t("demo.name") %></h4>
        <span class="pull-left">
          <a href="#" class="btn btn-primary pull-right"
            role="button"><%= t "home.guide" %></a>
        </span>
        <span class="pull-right">
          <span class="glyphicon glyphicon-eye-open"
            aria-hidden="true"></span> <% t "demo.view" %>
        </span>
      </div>
    </div>
<% end %>
