<div class="row">
  <form class="form-inline text-center" novalidate="novalidate">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><span
          class="glyphicon glyphicon-map-marker"></span><%= t "demo.name" %></span>
        <div class="form-group select required">
        <select class="form-control select required">
          <option value=""><%= t "demo.name" %></option>
          <option value="1"><%= t "demo.name" %></option>
          <option value="2"><%= t "demo.name" %></option>
          <option value="3"><%= t "demo.name" %></option>
          <option value="4"><%= t "demo.name" %></option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><span
          class="glyphicon glyphicon-book"></span><%= t "demo.name" %></span>
        <select class="form-control select required">
          <option value=""><%= t "demo.name" %></option>
          <option value="1"><%= t "demo.name" %></option>
          <option value="2"><%= t "demo.name" %></option>
          <option value="3"><%= t "demo.name" %></option>
          <option value="4"><%= t "demo.name" %></option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <input type="submit" name="commit" value="<%= t "demo.name" %>"
        class="btn btn-default btn btn-primary" data-disable-with=""/>
    </div>
  </form>
</div>
