<div class="panel panel-default">
  <h3 class="panel-heading">
    <br>
    <div class="ui three statistics">
      <div class="statistic">
        <div class="value">
          <i class="payment big icon"></i>
        </div>
        <div class="label">
          <h4><%= recipes_count %></h4>
        </div>
        <div class="text value">
          <%= t "recipe.recipes" %>
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          <i class="users big icon"></i>
        </div>
        <div class="label">
          <h4><%= users_count %></h4>
        </div>
        <div class="text value">
          <%= t "user.users" %>
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          <i class="remove bookmark big icon"></i>
        </div>
        <div class="label">
          <h4><%= collections_count %></h4>
        </div>
        <div class="text value">
          <%= t "user.collections" %>
        </div>
      </div>
    </div>
  </h3>
</div>
<div class="spacer10"></div>
