<table class="table table-hover" id="table-collections">
  <tbody id="table">
    <% recipes.each_with_index do |f,index| %>
      <tr id="id-<%= f.id %>">
        <td>
          <%= link_to [f] do %>
            <%= image_tag f.cover, class: "ui tiny image" %>
          <% end %>
        </td>
        <td><h4><%= link_to  f.name, [f] %></h4></td>
        <td>
          <h4>
            <%= raw format_recipe_social(f.views_count, f.likes_count,
              f.votes_count) %>
          </h4>
        </td>
        <td><h4><%= t "recipe.recipe_status.#{f.status}" %></h4></td>
        <td>
          <%= link_to t("update"), edit_recipe_path(f),
            class: "ui primary large basic button" %>
          <%= link_to t("delete"), personal_recipe_path(f, type: @type),
            method: :delete, data: {confirm: t("recipe.destoy_confirm")},
            remote: :true, class: "ui negative large basic button" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
