<%= render "shared/search" %>
<br>
<div class="row">
  <%= render "slide" %>
  <%= render "banner", type: Constants::HomePage::BANNER_RIGHT %>
</div>
<br>
<div class="row">
  <%= render "shared/favorite_recipes" %>
  <%= render "shared/tip_recipes" %>
</div>
<br>
<div class="row">
  <%= render "shared/footer" %>
</div>
