<div class="ui vertical massive menu">
  <div class="row">
    <%= image_tag current_user.avatar, class: "user-avatar" %>
    <strong><%= current_user.name %></strong>
  </div>
  <div class="item">
    <%= link_to personal_root_path do %>
      <h4>
        <i class="privacy icon"></i>
        <%= t "user.view_my_profile" %>
      </h4>
    <% end %>
  </div>
  <div class="item">
    <%= link_to personal_recipes_path(type: Settings.recipe_index_type.posted) do %>
      <h4>
        <i class="empty heart icon"></i>
        <%= t "recipe.user_recipe_registed" %>
        <span class="badge pull-right" id="published">
          <%= @sidebar_personal.current_user_recipes_public_count %></span>
      </h4>
    <% end %>
  </div>
  <div class="item">
    <%= link_to personal_recipes_path(type: Settings.recipe_index_type.draft) do %>
      <h4>
        <i class="send outline icon"></i>
        <%= t "recipe.draft" %>
        <span class="badge pull-right" id="draft">
          <%= @sidebar_personal.current_user_recipes_draft_count %>
        </span>
      </h4>
    <% end %>
  </div>
  <div class="item">
    <%= link_to personal_collections_path do %>
      <h4>
        <i class="remove bookmark icon"></i>
        <%= t "personal.sidebar.collections" %>
        <span class="badge pull-right">
          <%= @sidebar_personal.current_user_collection_count %>
        </span>
      </h4>
    <% end %>
  </div>
</div>
