<div class="ui vertical massive menu">
  <div class="item">
    <%= link_to personal_root_path do  %>
      <%= image_tag current_user.avatar, class: "ui mini circular image" %>
      <h6><%= current_user.name %></h6>
    <% end %>
  </div>
  <div class="item">
    <%= link_to personal_recipes_path do %>
      <h4>
        <i class="empty heart icon"></i>
        <%= t "personal.sidebar.recipes" %>
      </h4>
    <% end %>
  </div>
  <div class="item">
    <%= link_to personal_collections_path do %>
      <h4>
        <i class="remove bookmark icon"></i>
        <%= t "personal.sidebar.collections" %>
      </h4>
    <% end %>
  </div>
</div>
