<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><%= t "frontend.company" %></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="<%= "active" if params[:page] == Settings.frontend.home_page %>">
        <%= link_to t("frontend.home_page"), root_url %>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <span class="glyphicon glyphicon-log-out"></span>
            <%= t "frontend.sign_out" %>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to new_user_registration_path do %>
            <span class="glyphicon glyphicon-user"></span>
            <%= t "frontend.sign_up" %>
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do %>
            <span class="glyphicon glyphicon-log-in"></span>
            <%= t "frontend.sign_in" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
